{% extends "base.html" %}
{% block content %}
<div class="container mt-4">

    <!-- Page Title -->
    <h2 style="font-family: Cambria; font-weight: bold; font-size: 40px; color: #2f855a;">
        {{ t["add_new"] }} {{ t["disease"] }}
    </h2>

    <form method="POST" enctype="multipart/form-data">

        <!-- Disease Name -->
        <div class="form-group">
            <label for="name" style="color: #2f855a; font-weight: bold;">{{t["name"]}}</label>
            <input type="text" class="form-control" style="border: 2px solid #2f855a;" 
            id="name" name="name" placeholder="{{ t['enter'] }}" required></div>

        <!-- Description -->
        <div class="form-group mt-3">
            <label for="description" style="color: #2f855a; font-weight: bold;">{{t["description"]}}</label>
            <textarea class="form-control" style="border: 2px solid #2f855a;" 
            id="description" name="description" rows="3" placeholder="{{ t['enter'] }}" required></textarea></div>

        <!-- Symptoms -->
        <div class="form-group mt-3">
            <label for="symptoms" style="color: #2f855a; font-weight: bold;">{{t["symptoms"]}}</label>
            <textarea class="form-control" style="border: 2px solid #2f855a;" 
            id="symptoms" name="symptoms" rows="3" placeholder="{{ t['enter'] }}"></textarea></div>

        <!-- Treatment -->
        <div class="form-group mt-3">
            <label for="treatment" style="color: #2f855a; font-weight: bold;">{{t["treatment"]}}</label>
            <textarea class="form-control" style="border: 2px solid #2f855a;" 
            id="treatment" name="treatment" rows="3" placeholder="{{ t['enter'] }}"></textarea> </div>

        <!-- Upload Image -->
        <div class="form-group mt-3">
            <label for="image" style="color: #2f855a; font-weight: bold;">{{t["image"]}}</label>
            <input type="file" class="form-control" style="border: 2px solid #2f855a;" 
            id="image" name="image" accept="image/*" required></div>

        <!-- Submit -->
        <button type="submit" class="btn mt-3" style="background-color: #2f855a; color:white; border-color: #2f855a;">
            {{t["add"]}} {{t["update"]}}</button>

        <a href="{{ url_for('disease.list_diseases') }}" class="btn btn-secondary mt-3 ms-2">
            {{t["cancel"]}}</a></form></div>
{% endblock %}